
/* correção de um problema em que tem um espaço branco no topo da página*/
*{
    padding: 0;
    margin: 0;
    /*border: 1px dotted red;*/
}
html,body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#2d2a28;
    color: white;
}
/*-----------------------------------*/
#menu{
    background-color: #393646;
}
/*topo do site*/
div.front{
    display: grid;
    width: 99vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.front img{
    width: 100%;
    height: 100%;
}

.front :nth-child(7){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15vh;
    font-style: italic;
    -webkit-text-stroke: 0.1vh black;
    position:absolute;
    align-self: center;
    justify-self: center;
    grid: none;
}
/*-----------------------------------*/

/*Article*/

article :first-child{
    background-color: #6D5D6E;
    display: flex;
    height: 40vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 5vh;
    font-style: italic;
    padding-left: 10vw;
    padding-right: 5vw;
    padding-top: 2vh;
}



