:root {
	--border-1: .2rem solid grey 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --v1: calc(max(9vw, 11vh));
}

html {
	overflow: auto;
}

body{
    background: black;
    overflow: hidden;
}

nav#menu {
	z-index: 2;
	background-color:rgb(201, 201, 201);
	border: var(--border-1);
	border-radius: .5rem;
	display: flex;
	align-items: center;
	padding: .1em;
	font-size: 1.5rem;
	position: fixed;
	left: 50vw;
	transform: translateX(-50%);
	opacity:0.975 ;
}

#menu img {
	height: 3rem;
	width: 3rem;
	position: relative;
	top: 60%;
}

#menu a {
	text-decoration: none;
}

#menu :is(ul,li) {
	margin: 0;
	margin-left:.5rem;
	padding: 0;
	list-style: none;
	display: inline-block;
}

#menu ul li {
	padding: .5em;
	transition: .3s;
	transition-property: background-color;
}

#menu > ul > li {
	position: relative;
	border-radius: .3em;
}

#menu li:hover {
	background-color: grey;
	cursor: pointer;
}

nav ul li:has(ul)::after {
    content: "↓";
    color:black;
  }

#menu > ul > li > ul {
	position: absolute;
	opacity: 0;
	visibility: hidden;
    top: 100%;
    left: 0;
    background-color: rgb(165, 164, 164);
    transition: .3s;
	border-radius: .5em;
}

#menu > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}

#menu > ul > li > ul > li {
    display: block;
	border-radius: .5em;
}
  
main {
	z-index: 1;
}

.container{
    height: 100vh;
    overflow: hidden;
}
.row{
    display: inline-flex;
    margin-top: calc(var(--v1) * -0.32);;
    margin-left: calc(var(--v1) * -0.5);;
}
button.hexagon{
    border: none;
    cursor: pointer;
}

.hexagon{
    position: relative;
    width: var(--v1);
    height: calc(var(--v1) * 1.1);
    margin: calc(var(--v1) * 0.04) calc(var(--v1) * 0.02);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: linear-gradient(90deg, rgba(25, 25, 25, 0.7) 50%, rgba(10,10,10,0.85) 50%);
    background: #232124;
    /* optional short text */
    text-align: center;
    color: #232124;
    line-height: calc(var(--v1) * 1.1);
    font-size: 2vw;
    transition: 1s;
}
.blank{
    background: transparent;
}
button.hexagon{
    background: #232124;
}
button.hexagon:hover{
    color: rgba(15, 15, 15, 1);
    background: #2C093A40;
}
.row:nth-child(even){
    margin-left: calc(var(--v1) * 0.02);
}
.curser{
    position: absolute;
    width: calc(var(--v1) * 2.5);
    height: calc(var(--v1) * 2.5);
    border-radius: 50%;
    animation: anim 2s linear infinite;
    visibility: hidden;
/*     transition: .1s; */
    transform: translate(-50%, -50%);
/*     box-shadow: 0px 0px 100px rgba(0,255,0,1); */
}
@keyframes anim{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
body:hover .curser{
    background: radial-gradient(circle, rgba(0,255,0,1) 0%, rgba(0,255,0,0) 70%);
    visibility: visible;
}
/*
  60 orange
  120 green
  210
  260
  30
*/
